<a href="https://colab.research.google.com/github/ArchaRejeesh/Python-Basics/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x=(input("enter passengers travel source"))
y=(input("enter passengers travel destination"))
z=int(input("enter number of passengers"))
print(x)
print(y)
print(z)

enter passengers travel sourcekochi to kottayam
enter passengers travel destinationkottayam
enter number of passengers34
kochi to kottayam
kottayam
34

In [5]:
x=int(input("total ticket fare"))
z=int(input("number per person"))
print("ticket fare per person",x/z)

total ticket fare100
number per person20
ticket fare per person 5.0

In [6]:
x=(input("passenger name"))
y=int(input("ticket fare"))
print("passenger name" ,x ,"ticket fare",y)

passenger namearcha
ticket fare100
passenger name archa ticket fare 100

In [7]:
x=int(input("enter total fare"))
if x>10000:
  print("eligible for discount")
else:
  print("not eligible")

enter total fare1000
not eligible

In [9]:
x=int(input("enter total fare"))
if x>15000:
  print("eligible for 20%")
else:
  print(" eligible for 10%")

enter total fare10000
 eligible for 10%

In [10]:
x=int(input("ticket fare"))
if x>15000:
  i=x*20/100
  print(i,"discount")
if x>=10000:
   z=x*20/100
   print(z,"disount")
if x<10000:
   y=x*5/100
   print(y,"discount")

ticket fare10000
2000.0 disount

In [11]:
x=int(input("enter the number"))
if x>0:
  print(x,"number is positive")
elif x==0:
  print(x,"number is zero")
else:
  print(x,"number is negative")

enter the number20
20 number is positive

In [16]:
x=int(input("age of paasenger"))
if x>18:
  print("adult")
elif x>=13 and x<=18:
  print("teenager")
elif x>=6 and x<=12:
  print("kid")
elif x>=2 and x<=5:
  print("kid")
else:
  print("infant")

age of paasenger69
adult

In [17]:
x=input("Passengers Initial ")
if x=="A":
  print("Vowel")
elif x=="E":
  print("Vowel")
elif x=="I":
  print("Vowel")
elif x=="O":
  print("Vowel")
elif x=="U":
  print("Vowel")
else:
  print("Not Vowel")

Passengers Initial A
Vowel

In [18]:
x=input("Enter Your Name ")
for a in x:
  print(a)

Enter Your Name archa
a
r
c
h
a

In [22]:
x=int(input("Enter Starting Value "))
y=int(input("Enter Ending Value "))
z=range(x,y) 
for a in z:
  if a%2!=0 :
    print(a)

Enter Starting Value 12
Enter Ending Value 14
13

In [23]:
k=0
for a in range(1,10):
  k=k+a
  print(a,k)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45