<a href="https://colab.research.google.com/github/ArchaRejeesh/Python-Basics/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n=int(input('Enter a number '))
for i in range(1,11):
  print(i,'x',n,'=',i*n)

Enter a number 12
1 x 12 = 12
2 x 12 = 24
3 x 12 = 36
4 x 12 = 48
5 x 12 = 60
6 x 12 = 72
7 x 12 = 84
8 x 12 = 96
9 x 12 = 108
10 x 12 = 120

In [2]:
n=int(input('Enter a number '))
a=1
while a<=10:
  print(a,'x',n,'=',a*n)
  a=a+1

Enter a number 3
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30

In [7]:
num=(input('Enter a number '))
d=0
for i in num:
  #print(i) 
  d=d+1
print(d)

Enter a number 1547
4

In [13]:
x=(input('Enter a name'))
x=x.replace('a','r')
print(x)

Enter a namearcha
rrchr

In [23]:
m1=["america","canada","nepal","pakistan","russia"]
print(m1)
m1.append("france")
print(m1)
m1.remove("russia")
print(m1)
m1.reverse()
print(m1)
m1.append("uk")
print(m1)
len(m1)

['america', 'canada', 'nepal', 'pakistan', 'russia']
['america', 'canada', 'nepal', 'pakistan', 'russia', 'france']
['america', 'canada', 'nepal', 'pakistan', 'france']
['france', 'pakistan', 'nepal', 'canada', 'america']
['france', 'pakistan', 'nepal', 'canada', 'america', 'uk']

6