<a href="https://colab.research.google.com/github/ArchaRejeesh/Python-Basics/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
Simple program

SyntaxError: ignored

In [6]:
name=input("enter the name")
print(name)

enter the namearcha
archa

In [11]:
mark1=int(input("enter the mark of first sub"))
mark2=int(input("enter the mark of second sub"))
total=mark1+mark2
print(total)

enter the mark of first sub22
enter the mark of second sub33
55

In [12]:
avg=total/2
print(avg)

27.5

In [1]:
m1=int(input("enter the mark"))
m2=int(input("enter the mark"))
if m1>m2:
  print("m1 greater")
else:
  print("m2 greater")

enter the mark50
enter the mark10
m1 greater

SyntaxError: ignored

In [11]:
m1=int(input("enter the mark"))
m2=int(input("enter the mark"))
m3=int(input("enter the martk"))
if m1>m2:
  print("m1 greater")
elif m1<m3:
  print("m3 greater")

enter the mark5
enter the mark4
enter the martk3
m1 greater

In [16]:
m1=int(input("enter the mark"))
if m1%2 == 0:
  print("its even")
else:
  print("odd")

enter the mark7
odd

In [22]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [30]:
for i in range(1,11):
  if i%2==0:
    print(i)

2
4
6
8
10

In [31]:
for i in range(5,51):
  if i%5==0:
    print(i)

5
10
15
20
25
30
35
40
45
50