<a href="https://colab.research.google.com/github/ArchaRejeesh/Python-Basics/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
x=int(input("enter the number"))
if x<0:
  print(x*-1)
else:
  print(x)

enter the number-5
5

enter the marks44

TypeError: ignored

In [7]:
x=int(input("enter a number"))
if x>80:
  print("A")
elif x>60 and x<=80:
  print("B")
elif x>50 and x<=60:
  print("c")
elif x>45 and x<=50:
  print("D")
elif x>25 and x<=45:
  print("E")
else:
  print("f")

enter a number23
f

In [20]:
x=int(input("enter number of classes held"))
y=int(input("enter number of classes attended"))
z=(y/x*100)
if z>75:
  print("allowed to enter")
else:
  print("not allowed")

enter number of classes held60
enter number of classes attended40
not allowed

In [22]:
print("1.addition")
print("2.subtraction")
print("3.multiplication")
print("4.division")
print("5.modulus")
print("6.floor division")
print("7.exponent")
x=int(input("select a number"))
m1=int(input("enter a number"))
m2=int(input("enter a number"))
if x==1:
  print(m1+m2)
if x==2:
  print(m1-m2)
if x==3:
  print(m1*m2)
if x==4:
  print(m1/m2)
if x==5:
  print(m1%m2)   
if x==6:
  print(m1//m2)
if x==7:
  print(m1**m2)

1.addition
2.subtraction
3.multiplication
4.division
5.modulus
6.floor division
7.exponent
select a number7
enter a number6
enter a number5
7776

In [23]:
m1=int(input('Enter marks of first sub '))
m2=int(input('Enter marks of second sub '))
m3=int(input('Enter marks of third sub'))
m4=int(input('Enter marks of fourth sub '))
m5=int(input('Enter marks of fifth sub '))
print('Least marks:',min(m1,m2,m3,m4,m5))
print('Maximum marks:',max(m1,m2,m3,m4,m5))

Enter marks of first subject 4
Enter marks of second subject 3
Enter marks of third subject 4
Enter marks of fourth subject 5
Enter marks of fifth subject 4
Least marks: 3
Maximum marks: 5

In [24]:
x=input("enter a name")
if x.isupper():
  print(x.lower())
if x.islower():
  print(x.upper())
len(x)

enter a namearcha
ARCHA

5