<a href="https://colab.research.google.com/github/ArchaRejeesh/Python-Basics/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
salary=int(input("enter the amount "))
if salary <250000:
  print("No Tax")
if salary>=250000 and salary<=500000:
  print("taxable")
  x=salary-250000
  print("tax ",x*0.10/100) 
if salary>500000 and salary<=750000:
  print("taxable")
  y=salary-500000
  x=250000*10/100
  print("tax ",((y*0.20/100)+x)) 
if salary>750000 and salary<10000000:
   y=250000*10/100
   x=250000*20/100
   z=(salary-750000)*0.30/100
   print("tax ",((z*30/100)+y+x))
if salary > 10000000:
   y=250000*10/100
   x=250000*20/100
   z=(salary-7500000)*30/100
   a=(salary-10000000)*2/100
   print("tax ",x+y+z+a)

enter the amount 15000000
tax  2425000.0